# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data
data/
# Keep data directory structure and documentation
!data/
!data/*/
!data/raw/
!data/processed/
!data/**/*.md
!data/**/*.txt

# Data (since it's large and can be downloaded)
data/raw/2020_precinct/*.csv 